@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: "Raleway", sans-serif;
}

.ms_bg-obj-selfie{
  background-color: #fa9700;
}

.ms_bg-obj-selfie-1{
  background-color: #f7b75b;
}

.ms_bg-obj-selfie-2{
  background-color: #ee7656;
}

.ms_bg-obj-selfie-3{
  background-color: #94bdbf;
}

.ms_transition{
  transition: all 0.7s;
}

.z-9999{
  z-index: 9999;
}

.ms_pt-18{
  padding-top: 72px;
}

.shadow-bottom {
  box-shadow: 0 4px 8px rgba(2, 2, 2, 0.65); /* Ombra al lato inferiore */
}

.ms_fixed-h{
  height: 270px;
  width: 320px;
}